<header>
  <div>
    <img src="<%= @unit['logo']['url'] %>">
  </div>
  <h1>Apply to <%= @unit['name'] %></h1>
</header>

<main ng-app="ApplicationForm">
  <div ng-controller="ApplicationFormCtrl">
    <form ng-submit="submit()">
      <ul>
        <li>
          <input type="text" name="applicantName" ng-model="applicant.name" value="{{ applicant.name }}" placeholder="Name">
        </li>
        <li>
          <input type="email" name="applicantEmail" ng-model="applicant.email" value="{{ applicant.email }}" placeholder="Email" ng-blur="checkEmail()">
        </li>
        <div ng-if="promptPassword">
          <li>
            <div>
              Looks like we found an account with that email. Enter your password to reduce data entry.
            </div>
            <input type="password" ng-model="applicant.password" ng-blur="authenticate()">
          </li>
        </div>
        <li ng-repeat="blueprint in blueprints">
          <label>
            {{ blueprint.definition.label }}
          </label>
          <div ng-if="blueprint.definition.description">
            {{ blueprint.definition.description }}
          </div>
          <div>
            <div ng-if="blueprint.definition.type == 'text'">
              <input name="{{ blueprint.definition.id }}" ng-model="blueprint.answer" type="text">
            </div>
            <div ng-if="blueprint.definition.type != 'text'">
              <textarea name="{{ blueprint.definition.id }}" ng-model="blueprint.answer"></textarea>
            </div>
          </div>
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>
  </div>
</main>

<script type="text/javascript" src="/scripts/ext/underscore/underscore.js"></script>
<script type="text/javascript" src="/scripts/ext/angular/angular.min.js"></script>
<script>
'use strict';

var apiHost = "<%= Applyance::Client.settings.api_host %>",
    unitId = <%= @id %>,
    entityId = <%= @unit['entity']['id'] %>;

var app = angular.module('ApplicationForm', []);
app.config(function($locationProvider) {
  $locationProvider.html5Mode(true);
});

app.controller('ApplicationFormCtrl', ['$scope', '$http', function($scope, $http) {

  $scope.applicant = {};

  $scope.blueprints = [];
  $http.get(apiHost + '/units/' + unitId + '/blueprints').then(function(blueprints) {
    $scope.blueprints = blueprints.data;
  });

  $scope.promptPassword = false;

  $scope.checkEmail = function() {
    if (!$scope.applicant.email || ($scope.applicant.email.length == 0)) {
      return;
    }
    // $http.get(apiHost + '/emails?email=' + $scope.applicant.email).success(function(result) {
    //   $scope.promptPassword = false;
    // });
  }

  $scope.authenticate = function() {
    if (($scope.applicant.email.length == 0) || ($scope.applicant.password.length == 0)) {
      return;
    }
    $http.post(apiHost + '/accounts/auth', $scope.applicant).success(function(me) {
    });
  }

  $scope.submit = function() {
    var unit_ids = [];
    unit_ids.push(unitId);

    var fields = [];

    _.each($scope.blueprints, function(blueprint) {
      if (!blueprint.answer) {
        return;
      }
      fields.push({
        datum: {
          definition_id: blueprint.definition.id,
          detail: {
            value: blueprint.answer
          }
        }
      });
    });

    var application = {
      applicant: $scope.applicant,
      unit_ids: unit_ids,
      fields: fields
    };

    $http.post(apiHost + '/applications', application).then(function(result) {
      console.dir(result);
    });
  }

}]);
</script>
