<!DOCTYPE html>
<html>
  <head>
    <%= erb :'shared/_meta' %>
  </head>
  <body>

    <div class="wrap">
      <%= erb :'shared/_header' %>
      <main class="main">
        <%= yield %>
      </main>
    </div>
    <%= erb :'shared/_footer' %>
    <%= yield_content :scripts %>

  </body>
</html>
