<!DOCTYPE html>
<html>
  <head>
    <title>Application to <%= @entity['name'] %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if @entity['logo'] %>
    <link rel="icon" type="image/png" href="<%= @entity['logo']['url'] %>">
    <% end %>

    <base href="/">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7222252/709524/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/apply.css" />
  </head>
  <body ng-app="Apply">

    <main class="app-form" ng-view></main>

    <script type="text/javascript" src="/scripts/apply/apply.js"></script>
    <script>
      var app = angular.module('Applyance');
      app.constant('entity', <%= JSON.dump(@entity) %>);
      app.constant('apiHost', '<%= @api_host %>');
      app.constant('apiKey', '<%= @api_key %>');
    </script>

  </body>
</html>
